@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    color: #262626;
}

/*  heading and logo */

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #262626;
}

/*  ändra? */

#logo {
    float: left;
    font-size: 400%;
}

/*  ändra? */

.hero-image {
    background-image: url('../images/pexels-lukas-317333\ \(2\).jpg');
    background-color: beige;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;

}


/*  navigation */

#menu {
    font-size: 150%;
    letter-spacing: 3px;

}

#menu,
#logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 45px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #262626;
}

.active {
    border-bottom: 1px solid #262626;
}

/*  header background-image and text */

.hero-image {
    background-image: url('../images/pexels-magda-ehlers-10900775.jpg');
    background-color: white;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #262626;
}

#about {
    margin: 75px;
}