@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #262626;
}

section {

    margin: 2%;
    border-radius: 50px;
    border: 1px solid #262626;
    background-color: #737577;
    padding: 2%;
}

/*  heading and logo */

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #262626;
    
}

h2 {
    padding-bottom: 2%;
}


#logo {
    float: left;
    font-size: 350%;
}



/*  navigation */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 2%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 3%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #262626;
}

.active {
    border-bottom: 1px solid #262626;
}

/*  header background-image and text */

.hero-image {
    background-image: url('../images/pexels-piyapong-sayduang-5623203.jpg');
    background-color: #b4b6bc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #262626;
}

/*  row pictures  */

.column > img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 0.5%;
}

#row::after {
    content: "";
    clear: both;
    display: table;
}


#row {
    margin: 2%;
    border-radius: 50px;
    border: 1px solid #262626;
    background-color: #737577;
    padding: 1%;

}

/*  section about, services and address */

.center {
    margin: auto;
    width: 98%;
    border: 1px solid black;
    padding: 2%;
    border-radius: 50px;
}

#services,
#address,
#contact {
    float: center;
    text-align: center;
    margin-top: 2%;
    background-color: #b4b6bc;
    color: #262626;
}

#about
{
    float: center;
    text-align: center;
    margin-top: 0;
    background-color: #b4b6bc;
    color: #262626;
}


ul {
    list-style-type: none;
}


/*  footer- social media */

footer {
    height: 250px;
background-image:  url('../images/pexels-piyapong-sayduang-5623203.jpg');
background-color: #b4b6bc;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #262626;
}


/* gallery */

#photos {
    clear: both;
    column-count: 5;
    column-gap: 0.3%;
    margin: 2%;
    padding: 1%;
}

img {
    display: inline;
    width: 100%;
    border-radius: 10%;
}


/* Book Now page */



.booknow {

    margin: 2%;
    border-radius: 50px;
    border: 1px solid #262626;
    background-color: #b4b6bc;
    padding: 2%;
    text-align: center;
}

input[type=text],
input[type=email],
select {
    width: 95%;
    padding: 1%;
    margin: 2%;
    display: inline-block;
    border: 1px solid #262626;
    border-radius: 50px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: #737577;
    color: white;
    padding: 1%;
    margin: 2%;
    border: 1px solid #262626;
    border-radius: 50px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #353434;
}


/* media queries */


/* For larger to medium screens siz from 1710px wide and down */
@media screen and (max-width: 1710px) {


#logo {
    font-size: 300%;
   }

}




/* For medium screen sizes from 1510px wide and down */


@media screen and (max-width: 1510px)  {

    h2 {
        font-size: 130%;
    }
   
    footer {
        height: 200px;
    }


    .hero-image {
        height: 250px;
    }


#logo {
    font-size: 250%;
}


#menu {
    font-size: 130%;
}

}

/* For medium to smaller screen sizes from 1310px wide and down */


@media screen and (max-width: 1310px) {

    h2 {
        font-size: 110%;
    }


    footer {
        height: 170px;
    }
    
    section {
        border-radius: 20px;
    }

    .center {
        border-radius: 20px;
       }

    .hero-image {
        height: 230px;
    }

    .booknow {
        border-radius: 20px;
    }

    #logo {
        font-size: 200%;
    }
   
    #menu {
        font-size: 110%;
    
    }

    #row {
        border-radius: 20px;
    }

}

/* For smaller screen sizes from 910px wide and down */


@media screen and (max-width: 910px) {

    h2 {
    font-size: 100%;
   }

    ul {
    font-size: 90%;
   }

    footer {
    height: 150px;
   }
   
   .hero-image {
    height: 180px;
   }

    #logo {
    font-size: 150%;
   }
   
    #menu {
        font-size: 100%;
    }

    #photos {
        column-count: 3;
    }

}


/* For smaller screen sizes from 710px wide and down */


@media screen and (max-width: 710px) {

        h2 {
        font-size: 90%;
       }
   
        ul {
        font-size: 70%;
       }

       label {
        font-size: 80%;
       }
   
        footer {
        height: 150px;
       }
       
       .hero-image {
        height: 150px;
       }
   
       .column {
        width: 49.99999%;
        padding: 0.5%;
       }

        #logo {
        font-size: 125%;
       }
       
        #menu {
            font-size: 90%;
            padding: 3%;
        }
   
        #photos {
            column-count: 2;
            padding: 2%; 
        }
 


}

/* For smaller screen sizes from 610px wide and down */

@media screen and (max-width: 610px) {

    h2 {
        font-size: 90%;
       }
   
        ul {
        font-size: 70%;
       }
   
        footer {
        height: 150px;
       }
       
       .hero-image {
        height: 150px;
       }
   
       .column {
        width: 49.99999%;
        padding: 0.5%;
       }

        #logo {
        font-size: 100%;
       }
       
        #menu {
            font-size: 90%;
            padding: 5%;
        }
   
}

/* For smaller screen sizes from 510px wide and down */

@media screen and (max-width: 510px) {

    h2 {
        font-size: 70%;
       }
   
        ul {
        font-size: 70%;
       }
   
        footer {
        height: 125px;
       }
       
       .hero-image {
        height: 125px;
       }
   
       .column {
        width: 49.99999%;
        padding: 0.5%;
       }

        #logo {
        font-size: 85%;
       }
       
        #menu {
            font-size: 70%;
            padding: 5%;
        }
   
      


} 

/* For smaller screen sizes from 450px wide and down */

@media screen and (max-width: 450px)