@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #262626;
}

section {

    margin: 50px;
    border-radius: 50px;
    border: 2px solid #262626;
    background-color: #737577;
    padding: 50px;
    font-weight: 400;
}

/*  heading and logo */

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #262626;
    
}

h2 {
    padding-bottom: 20px;
}



/*  ändra? */

#logo {
    float: left;
    font-size: 400%;
}

/*  ändra? */


/*  navigation */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px;
}



#menu li {
    float: right;
    list-style-type: none;
    margin-right: 45px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #262626;
}

.active {
    border-bottom: 1px solid #262626;
}

/*  header background-image and text */

.hero-image {
    background-image: url('../images/pexels-piyapong-sayduang-5623203.jpg');
    background-color: #b4b6bc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #262626;
}

/*  row pictures  */

.column > img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

#row::after {
    content: "";
    clear: both;
    display: table;
}


#row {
    margin: 50px;
    border-radius: 50px;
    border: 2px solid #262626;
    background-color: #737577;
    padding: 15px;
    font-weight: 400;
}




/*  section about, services and address */

.center {
    margin: auto;
    width: 90%;
    border: 2px solid black;
    padding: 30px;
    border-radius: 50px;
}

#services,
#address,
#contact {
    float: center;
    text-align: center;
    margin-top: 50px;
    background-color: #b4b6bc;
    color: #262626;
}

#about
{
    float: center;
    text-align: center;
    margin-top: 10px;
    background-color: #b4b6bc;
    color: #262626;
}


ul {
    list-style-type: none;
}


/*  footer- social media */

footer {
    height: 250px;
background-image:  url('../images/pexels-piyapong-sayduang-5623203.jpg');
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #262626;
}


/* gallery */

#photos {
    clear: both;
    line-height: 20px;
    column-count: 5;
    column-gap: 10px;
    margin: 50px;
    padding: 15px;

}

img {
    display: inline;
    width: 100%;
    border-radius: 10%;
}


/* Book Now page */



.booknow {

    margin: 50px;
    border-radius: 50px;
    border: 1px solid #262626;
    background-color: #b4b6bc;
    padding: 50px;
    font-weight: 400;
    text-align: center;
}

input[type=text],
input[type=email],
select {
    width: 50%;
    padding: 15px 20px;
    margin: 30px 30px;
    display: inline-block;
    border: 1px solid #262626;
    border-radius: 50px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #262626;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #353434;
}


/* media queries */


/* For larger to medium screens siz from 1710px wide and down */
@media screen and (max-width: 1710px) {

img {
   width: 100%;
}



#logo {
    font-size: 350%;
   }

   #photos {
    margin: 50px;
    padding: 15px;
}



}


/* For medium screen sizes from 1510px wide and down */

@media screen and (max-width: 1510px)  { 


#logo {
    font-size: 300%;
}

.column > img {
    width: 100%;
}

.column {
    padding: 1px;

}

#row {
    margin: 50px;
    padding: 15px;
}

#menu {
    font-size: 120%;
}

h2 {

}

}


/* For medium screen sizes from 1510px wide and down */

@media screen and (max-width: 1305px) {



}